@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{

    border-radius: 50%;
    width: 50px;
}

a{

    color: inherit;
}

#root{

    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 15%, rgba(216, 219, 213, 1) 15%);
    display: flex;
    align-items: center;
}

.container-app{

    width: 90%;
    margin-inline: auto;
    height: 90%;
    background-color: rgba(250, 250, 250, 1);
    border: 2px solid black;
    display: flex;
}

/* SECTION-LEFT */

.section-left{

    width: 35%;
}

.section-left,
.section-right{

    display: flex;
    flex-direction: column; 
}


.cont-user-avatar-left,
.cont-user-avatar-right{

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(234, 234, 234, 1);
}

.cont-avatar-left,
.cont-icons-left,
.cont-avatar-right,
.cont-icons-right{

    display: flex;
    align-items: center;
}

.cont-avatar-left > h4,
.cont-avatar-right div{

    padding-inline-start: 5px;
}

.cont-icons-left > i,
.cont-icons-right > i{

    padding-inline-start: 10px;
    color: rgba(177, 177, 177, 1);
}

/* NOTIFICATION */

.notification{

    display: flex;
    align-items: center;
    background-color: rgba(142, 218, 252, 1);
    padding: 10px 20px;
}

.notification div:first-child{

    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification div:last-child > h4{

    padding-bottom: 5px;
}

.notification div > i {

    color: rgba(142, 218, 252, 1) ;
}

/* SEARCH-BAR */

.cont-search-bar{

    padding: 10px 5px;
}

.cont-search-bar div{
    
    border-radius: 5px;
    border: 1px solid rgba(182, 185, 187, 1);
    padding: 2px 4px;
    background-color: white;
}

.cont-search-bar div > i{

    color: rgba(182, 185, 187, 1);
    font-size: 0.8rem;
    padding-right: 5px;
}

.search-bar{

    width: 90%;
    border: none;
    outline: none;
}

/* CONTACTS */

.section-contacts{

    flex-grow: 1;
    overflow: auto;
}

.cont-contacts{

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid lightgray;
}

.contacts-name{

    display: flex;
}

.contacts-name div{

    padding-inline-start: 15px;
}

.contacts-name div > span,
.last-hour-message > span,
.cont-avatar-right div > span{

    font-size: 0.6rem;
}


/* SECTION-LEFT-END */

/* SECTION-RIGHT */

.section-right{

    border-left: 2px solid black;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.cont-chat{

    flex-grow: 1;
    overflow: auto;
    background-image: url(../img/mine.jpg);
    background-position: center;
}

.cont-text-message{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-message{

    flex-grow: 1;
    padding: 15px 10px;
}

.text-bar{

    width: 100%;
    height: 40px;
    outline: none;
}

.cont-emoticon,
.cont-audio-message{

    padding: 10px 20px;
    font-size: 1.5rem;
}
